/* Contenido principal */
.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    margin: 20px;
}

.tarjeta-producto {
    background: #fafafa;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: -6px 6px 2px #0720146c;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #115e67;
}

.tarjeta-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 3px #0720143a;
}

.contenido-producto {
    padding: 10px;
    border-radius: 10px;

}

.nombre-producto {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
}

.tipo-producto {
    background: #115e67;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 1rem;
}

.CODIGO {
    background: #02020283;
    color: white;
    border: 1px solid #000000;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 1rem;
}


.descripcion-producto {
    color: #000000;
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.5;
}

.precio-producto {
    font-size: 1.5rem;
    font-weight: bold;
    color: #069636;
    margin-bottom: 1rem;
}



.boton-modificar1 {
    background: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    border: 2px solid var(--dark-color);
    margin-bottom: 10px;
    text-align: center;
    
}

.boton-modificar1:hover {
    color: #000000;
    background: #e8faee;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(85, 168, 110, 0.596);
}



.boton-eliminar {
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: var(--transition);
    border: 2px solid #000000;
}

.boton-eliminar:hover {
    color: #f8d7da;
    background-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.596);
}



.titulo-productos {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--dark-color);
    position: relative;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.titulo-productos::after {
    content: "";
    position: absolute;
    width: 100%;
    /* o una cantidad específica */
    height: 3px;
    background-color: var(--primary-color);
    bottom: -1px;
    left: 0;
}


/* Responsive */
@media (max-width: 768px) {
    .contenedor-encabezado {
        flex-direction: column;
        text-align: center;
    }

    .menu-navegacion {
        justify-content: center;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .fila-busqueda {
        flex-direction: column;
    }

    .entrada-busqueda,
    .select-filtro,
    .grupo-precio {
        min-width: 100%;
    }

    .grilla-productos {
        grid-template-columns: 1fr;
    }
}